<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <p th:if="${param.error}">
    Error!
  </p>
  <h1>Login画面</h1>
  <form name="form" action="./gettingLocation.html" th:action="@{/login}" method="POST">
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" name="username" placeholder="Username" /></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" placeholder="Password" /></td>
       </tr>
    </table>
    <input type="submit" value="Login" />
  </form>
</body>
</html>
